{% if items | length > 0 %}
	<table>
		<thead></thead>
		<tbody>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<td>Action</td>
			</tr>
			{% for item in items %}
				<tr>

					<td>{{ item.product.name }}</td>
					<td>{{ item.product.price }}</td>
					<td>{{ item.quantity }}</td>
					<td>{{ item.product.price * item.quantity }}</td>
					<td>
						<a href="{{ path('cart_remove',{'id':item.product.id}) }}">Remove</a>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<td>total :</td>
				<td></td>
				<td></td>
				<td>{{ total }}</td>
			</tr>
		</tbody>
	</table>
{% else %}
	<h1>Your Cart Is Empty</h1>
{% endif %}
