{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifier le mot de passe ?</h1>
    {{ form_start(formReset) }}
        {{ form_row(formReset.oldPassword) }}
        {{ form_row(formReset.password.first) }}
        {{ form_row(formReset.password.second) }}
        <button type="submit" class="btn btn-primary">Update!</button>
    {{ form_end(formReset) }}
{% endblock %}