{% extends "base.html.twig" %}

{% block title %}Product Page!
{% endblock %}

{% block body %}

	{% include "home/header.html.twig" %}

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="bread-inner">
						<ul class="bread-list">
							<li>
								<a href="index1.html">Home<i class="ti-arrow-right"></i>
								</a>
							</li>
							<li class="active">
								<a href="blog-single.html">Product Page</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Breadcrumbs -->

	<!-- Product Style -->
	<section class="product-area shop section">
		<div class="container">
			<div class="row">
				<div
					class="col-12 col-md-6">
					<!-- Product Slider -->
					<div class="product-gallery">
						<div class="quickview-slider-active">
							<div class="single-slider">
								<img src="https://via.placeholder.com/569x528" alt="#">
							</div>
							<div class="single-slider">
								<img src="https://via.placeholder.com/569x528" alt="#">
							</div>
							<div class="single-slider">
								<img src="https://via.placeholder.com/569x528" alt="#">
							</div>
							<div class="single-slider">
								<img src="https://via.placeholder.com/569x528" alt="#">
							</div>
						</div>
					</div>
					<!-- End Product slider -->
				</div>
				<div class="col-12 col-md-6">
					<div class="quickview-content">
						<h2>{{ product.name }}</h2>
						<div class="quickview-ratting-review">
							<div class="quickview-ratting-wrap">
								<div class="quickview-ratting">
									<i class="yellow fa fa-star"></i>
									<i class="yellow fa fa-star"></i>
									<i class="yellow fa fa-star"></i>
									<i class="yellow fa fa-star"></i>
									<i class="fa fa-star"></i>
								</div>
								<a href="javascript:void(0)" onclick="document.getElementById('reviews').scrollIntoView()">
									({{ reviews|length }}
									customer review)</a>
							</div>
							<div class="quickview-stock">
								{% if product.promo %}
									<span>
										<i class="fa fa-check-circle-o"></i>
										in stock</span>
								{% else %}
									<span>
										<i class="fa fa-times-circle-o"></i>
										out of stock</span>
								{% endif %}
							</div>
						</div>
						<h3>${{ product.price }}</h3>
						<div class="quickview-peragraph">
							<p>{{ product.description }}</p>
						</div>
						<div class="size">
							<div class="row">
								<div class="quantity col-lg-5 col-md-5 col-12">
									<h5 class="title">Quantity</h5>
									<!-- Input Order -->
									<div class="input-group">
										<div class="button minus">
											<button type="button" class="btn btn-primary btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
												<i class="ti-minus"></i>
											</button>
										</div>
										<input type="text" name="quant[1]" class="input-number" data-min="1" data-max="1000" value="1">
										<div class="button plus">
											<button type="button" class="btn btn-primary btn-number" data-type="plus" data-field="quant[1]">
												<i class="ti-plus"></i>
											</button>
										</div>
									</div>
									<!--/ End Input Order -->
								</div>
								{% if product.category.name == "Clothes" %}
									<div class="col-lg-3 col-md-3 col-12">
										<h5 class="title">Size</h5>
										<select>
											<option selected="selected">s</option>
											<option>m</option>
											<option>l</option>
											<option>xl</option>
										</select>
									</div>
								{% endif %}
								<div class="col-lg-4 col-md-4 col-12">
									<h5 class="title">Color</h5>
									<select>
										<option selected="selected">orange</option>
										<option>purple</option>
										<option>black</option>
										<option>pink</option>
									</select>
								</div>
							</div>
						</div>
						<div class="add-to-cart">
							<a href="#" class="btn cart_add" title="Add to cart" data-url="{{ path('cart_add',{'id':product.id}) }}">Add to cart</a>
							<a href="#" class="btn">Buy Now</a>
						</div>
						<div class="default-social">
							<h4 class="share-now">Share:</h4>
							<ul>
								<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="youtube" href="#"><i class="fa fa-pinterest-p"></i></a></li>
								<li><a class="dribbble" href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>

	<!-- Start Most Popular -->
	<div class="product-area most-popular section">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section-title">
						<h2>Related Products</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="owl-carousel popular-slider">
						{% for product in products %}
							<!-- Start Single Product -->
							<div class="single-product">
								<div class="product-img">
									<a href="product-details.html">
										<img class="default-img" src="https://via.placeholder.com/550x750" alt="#">
										<img class="hover-img" src="https://via.placeholder.com/550x750" alt="#">
										{% if product.promo %}
											<span class="out-of-stock">Discount</span>
										{% endif %}
									</a>
									<div class="button-head">
										<div class="product-action">
											<a class="quick-shop" data-toggle="modal" data-target="#exampleModal" data-url="{{ path('productModal',{'id':product.id}) }}" title="Quick View" href="javascript:void(0);">
												<i class=" ti-eye"></i>
												<span>Quick Shop</span>
											</a>
											<a title="Wishlist" href="#">
												<i class=" ti-heart "></i>
												<span>Add to Wishlist</span>
											</a>
											<a title="Compare" href="#">
												<i class="ti-bar-chart-alt"></i>
												<span>Add to Compare</span>
											</a>
										</div>
										<div class="product-action-2">
											<a title="Add to cart" href="#">Add to cart</a>
										</div>
									</div>
								</div>
								<div class="product-content">
									<h3>
										<a href="product-details.html">{{ product.name }}</a>
									</h3>
									<div class="product-price">
										<span class="old">${{ product.price }}</span>
										<span>${{ product.price }}</span>
									</div>
								</div>
							</div>
							<!-- End Single Product -->
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Most Popular Area -->

	<!-- Start Blog Single -->
	<section id="reviews" class="blog-single section">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-12">
					<div class="blog-single-main">
						<div class="row">
							<div class="col-12">
								<div class="comments">
									<h3 class="comment-title">Reviews ({{ reviews|length }})</h3>
									{% for review in reviews %}
										<!-- Single Comment -->
										<div class="single-comment">
											<img src="https://via.placeholder.com/80x80" alt="#">
											<div class="content">
												<h4>{{ review.name }}
													<span>{{ review.createdAt|date("F j, Y \\a\\t g:ia") }}</span>
												</h4>
												<p>{{ review.message }}</p>
											</div>
										</div>
										<!-- End Single Comment -->
										<hr>
									{% endfor %}
								</div>
							</div>
							<div class="col-12">
								<div class="reply">
									<div class="reply-head">
										<h2 class="reply-title">Leave a Review</h2>
										<!-- Comment Form -->
										{{ form_start(form) }}
										<div class="row">
											<div class="col-lg-6 col-md-6 col-12">
												<div class="form-group">
													<label>Your Name<span>*</span>
													</label>
													{{ form_row(form.name) }}
												</div>
											</div>
											<div class="col-lg-6 col-md-6 col-12">
												<div class="form-group">
													<label>Your Email<span>*</span>
													</label>
													{{ form_row(form.email) }}
												</div>
											</div>
											<div class="col-12">
												<div class="form-group">
													<label>Your Message<span>*</span>
													</label>
													{{ form_row(form.message) }}
												</div>
											</div>
											<div class="col-12">
												<div class="form-group button">
													<button type="submit" class="btn">Post Review</button>
												</div>
											</div>
										</div>
										{{ form_end(form) }}
										<!-- End Comment Form -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Blog Single -->

	{% include "home/footer.html.twig" %}

{% endblock %}
